<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1>Welcome Home</h1>
    <button onclick="window.location.href='/users'">View Users</button>


    <div> 
        <h2>
            Click this button to go to the dashboard
        </h2>
        <button onclick="window.location.href='/dashboard'">Dashboard</button>
    </div>
    <div> 
        <h2>
            Click this button to go to the Profile
        </h2>
        <button onclick="window.location.href='/profile'">Profile</button>
    </div>
    <div> 
        <h2>
            Click this button to go to the Landing Page
        </h2>
        <button onclick="window.location.href='/landing'">Landing</button>
    </div>
</body>
</html>
